<div class="container">

  <center>
    <h1>Admin Items Page</h1>
  </center>

  <div>
    <% @items.each do |item| %>
    <b>Title:</b> <%= item.title %><br>
    <b>Description:</b> <%= item.description %><br>
    <b>Price:</b> <%= item.price %><br>
    <b>Image Path:</b> <%= item.image_path %><br>
    <b>Long Description:</b> <%= item.long_description %><br>
    <%= button_to "Edit Item", admin_edit_item_path(item), method: :get %>
    <% end %>
  </div>



</div>
