<div class="container-fluid text-center well well-lg">
  <%= form_for(@user) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>

    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :street_address %>
    <%= f.text_field :street_address%><br>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state%><br>

    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.label :gender %>
    <%= f.select(:gender, options_for_select([['Female', 'Female'], ['Male', 'Male'], ['Transgender', 'Transgender'], ['Other', 'Other'], ['Prefer Not To Say', 'Prefer Not To Say']], 1)) %><br>

    <%= f.submit "Register" %>
  <% end %>
</div>
