<div class="row">
  <div class="col col-md-4">
      <img src="<%= @item.image_path %>" class="img-responsive">
  </div>


  <div class="col col-md-8">
    <div class="thumbnail">
      <div class="container-fluid">
        <h4>Price: <%= cents_to_dollar @item.price %></h4>
        <h4>Description: <%=  @item.description %></h4>
        <p><%= @item.long_description %></p>
        <% unless @item.retired %>
          <%= button_to "Add to Cart", cart_path(:item_id => @item.id), class: "btn btn-primary" %>
        <% else %>
          <h3>Item Retired</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
