<h1>Admin Dashboard</h1>

<div class="container">
  <p>Profile Image:</p> <%=image_tag @user.user_image %><br>
  <p><%= @user.gender %></p>
</div>


<%= link_to "Update Profile", admin_edit_dashboard_path%>


<table class="table">
  <thead>
    <tr>
      <td>Order #</td>
      <td>Status</td>
    </tr>

  </thead>
  <tbody>
    <% @orders.each_with_index do |order, index| %>
    <tr>
      <td> <%= link_to "##{index + 1}", order %></td>
      <td> <%= order.status %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
