<h1>Admin Dashboard</h1>

<div class="container">
  <p>Profile Image:</p> <%=image_tag @user.user_image %><br>
  <p><%= @user.gender %></p>
</div>


<%= link_to "Update Profile", admin_edit_dashboard_path%><br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= button_to "Open Orders", '/admin/dashboard/ordered', method: :get, class: "btn btn-info" %>
    </div>

    <div class="col-md-3">
      <%= button_to "Paid Orders", '/admin/dashboard/paid', method: :get, class: "btn btn-info" %>
    </div>

    <div class="col-md-3">
      <%= button_to "Completed Orders", '/admin/dashboard/completed', method: :get, class: "btn btn-info" %>
    </div>

    <div class="col-md-3">
      <%= button_to "Cancelled Orders", '/admin/dashboard/cancelled', method: :get, class: "btn btn-info" %>
    </div>
  </div>
</div>

<%= render partial: "order_table", locals: { orders: @orders } %>
