<h1>Admin Dashboard</h1>

<div class="container">
  <p>Profile Image:</p> <%=image_tag @user.user_image %><br>
  <p><%= @user.gender %></p>
</div>


<%= link_to "Update Profile", admin_edit_dashboard_path%>

<%= button_to "Open Orders", '/admin/dashboard/ordered', method: :get %>
<%= button_to "Paid Orders", '/admin/dashboard/paid', method: :get %>
<%= button_to "Completed Orders", '/admin/dashboard/completed', method: :get %>
<%= button_to "Cancelled Orders", '/admin/dashboard/cancelled', method: :get %>

<%= render partial: "order_table", locals: { orders: @orders } %>
