<!DOCTYPE html>
<html>
  <head>
    <title>Good Grocer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href= "<%= items_path %>">GoodGrocer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/grocery">Grocery</a></li>
                <li><a href="/beverages">Beverages</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=" <%= cart_path  %> " id="cart_link"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            <li class="dropdown">
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if current_user %>
      <p>Logged in as <%= current_user.username %> - <%= link_to "Logout", logout_path %></p>
    <% end %>
=======
    <div class="navbar">
      <% if current_user %>
        <p>Logged in as <%= current_user.username %> - <%= link_to "Logout", logout_path %></p>
      <% else %>
        <p><%= link_to "Login", login_path %></p>
      <% end %>
    </div>
>>>>>>> development

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "flash_#{type}" %>
    <% end %>

    <div class="container" id=yield-container>
      <%= yield %>
    </div>

  </body>
</html>
