<!DOCTYPE html>
<html>
  <head>
    <title>Good Grocer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p>Logged in as <%= current_user.username %> - <%= link_to "Logout", logout_path %></p>
    <% else %>
      <p><%= link_to "Login", login_path %></p>
    <% end %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "flash_#{type}" %>
    <% end %>

    <div class="container" id=yield-container>
      <%= yield %>
    </div>
    
  </body>
</html>
